<a href="https://colab.research.google.com/github/SarahFeanor/data_modeling_project_ADAtech/blob/main/Tratamento_Tabela_Ipeadata_Sal%C3%A1rios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<sub> üìÅ **Projeto Grupo 1** : M√≥dulo III - Banco de Dados | Turma: 1102 | **Integrantes**: Caio Vieira, Igor Cruz, Jared Leite, Leticia Carneiro, Sarah Rezende </sub>

<sub> **Reposit√≥rio do Projeto** - [GitHub](https://github.com/SarahFeanor/data_modeling_project_ADAtech/tree/main) </sub>

## üìä **Tratamento da Tabela Ipeadata - Sal√°rios M√≠nimos Vigentes de 2000 a 2023.**

- Vamos come√ßar visualizando a estrutura atual da tabela.

- O **objetivo principal** √© efetuar a transforma√ß√£o dos dados na coluna `Data` para o formato `DATE`, enquanto na coluna `Sal√°rios` buscamos o tipo '`int`."

In [137]:
# Exibindo a Tabela
arquivo_csv = 'Pasta1.CSV'
df = pd.read_csv(arquivo_csv, sep=';')
print("DataFrame Original:")
print(df)

DataFrame Original:
       Data   SMV
0    200001   136
1    200002   136
2    200003   136
3    200004   151
4    200005   151
..      ...   ...
283  202308  1320
284  202309  1320
285  202310  1320
286  202311  1320
287  202312  1320

[288 rows x 2 columns]

---

- Inclu√≠mos **'01'** ao final dos valores na coluna `Data` para permitir a convers√£o eficiente dos dados para o formato '`DATE`'. Ap√≥s a conclus√£o da transforma√ß√£o, renomeamos a coluna 'SMV' para 'Sal√°rio M√≠nimo Vigente'.

In [141]:
import pandas as pd

# Arquivo CSV
arquivo_csv = 'Pasta1.CSV'
df = pd.read_csv(arquivo_csv, sep=';')

# Adiciona "01" ao final de cada valor na coluna 'Data'
df['Data'] = df['Data'].apply(lambda x: str(x) + '01')

# Converte a coluna 'Data' para o tipo de dados datetime
df['Data'] = pd.to_datetime(df['Data'], format='%Y-%m-%d')

# Converte a coluna 'SMV' para o tipo de dados integer
df['Salario_Minimo_Vigente'] = pd.to_numeric(df['SMV'], errors='coerce', downcast='integer')

# Remove a coluna antiga 'SMV'
df.drop(columns=['SMV'], inplace=True)

# Exibe o DataFrame com as colunas 'Data' e 'Salario_Minimo_Vigente' modificadas
print(df)

          Data  Salario_Minimo_Vigente
0   2000-01-01                     136
1   2000-02-01                     136
2   2000-03-01                     136
3   2000-04-01                     151
4   2000-05-01                     151
..         ...                     ...
283 2023-08-01                    1320
284 2023-09-01                    1320
285 2023-10-01                    1320
286 2023-11-01                    1320
287 2023-12-01                    1320

[288 rows x 2 columns]

In [143]:
# Salva o DataFrame modificado em um novo arquivo CSV
novo_arquivo_csv = 'ipeadata_Tratado'
df.to_csv(novo_arquivo_csv, index=False)

print(f"DataFrame modificado salvo em '{novo_arquivo_csv}'.")

DataFrame modificado salvo em 'ipeadata_Tratado'.